* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.duty__table_section {
  width: 100%;
  /* height: 100vh; */
  background-color: rgb(234, 235, 235);
  overflow-x: auto;
}
table {
  width: 100%;
  padding: 0.5rem;

  /* transform: rotate(90deg); */
}
tbody tr td {
  text-align: center;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 0.5rem 0;
  white-space: nowrap;
}
.day_off {
  background-color: rgb(255, 230, 3);
  cursor: pointer;
}
.day_off:hover {
  background-color: rgb(255, 14, 14);
  color: aliceblue;
  transition: 0.3s;
}
thead th {
  background-color: rgb(34, 33, 33);
  color: aliceblue;
  padding: 0.5rem 0;
}
tbody tr:nth-child(even) {
  background-color: rgb(255, 255, 255);
}
tbody tr:nth-child(even):hover {
  background-color: rgb(140, 174, 254);
}
tbody tr:nth-child(odd) {
  background-color: rgb(146, 149, 149);
}
tbody tr:nth-child(odd):hover {
  background-color: rgb(140, 174, 254);
}
tbody tr td:nth-child(2) {
  text-align: start;
}
.evening_duty_header td {
  background: rgb(34, 33, 33);
  color: aliceblue;
  padding: 0.5rem 0;
}
tfoot td {
  text-align: center;
  font-weight: bold;
}
